.App {
  text-align: center;
}

.menu {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  flex-direction: row;
  margin: 30px;
  margin-left: 50px;
}

.project-selection {
  margin: 30px;
}

.project-selection .project-name:hover {
  cursor: pointer;
}

.board-task-area {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.status-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.task {
  margin: 20px;
}